/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Tailwind CSS that can be used inline */
.h-screen-adjusted-image-container {
	height: calc(95vh - 34px);
}

.h-screen-adjusted-map {
	height: calc(90vh - 65px);
}

/* Add the hue change filter for the red color marker */
.huechange {
	filter: hue-rotate(120deg);
}

* {
	scroll-behavior: smooth;
	/* Smooth scrolling when navigating within the page (anchor links) */
}

/* Text effects */
.poppins-text {
	font-family: "Poppins", monospace;
	text-shadow: 1px 1px 4px rgba(255, 255, 255, 0.5);
}

.roboto-text {
	font-family: "Roboto Mono", monospace;
	text-shadow: 1px 1px 4px rgba(255, 255, 255, 0.5);
}

/* Gradient background animation for the menu */
.dynamic-bg {
	background: linear-gradient(270deg, #ff7b00, #ffbf00, #ff0080, #6a11cb);
	background-size: 400% 400%;
	animation: gradientShift 8s ease infinite;
}

.dynamic-bg-2 {
	background: linear-gradient(270deg, #00c6ff, #43e97b, #ff7b00, #ffbf00);
	background-size: 400% 400%;
	animation: gradientShift 8s ease infinite;
}

@keyframes gradientShift {
	0% {
		background-position: 0% 50%;
	}

	50% {
		background-position: 100% 50%;
	}

	100% {
		background-position: 0% 50%;
	}
}

/* CSS adjustments for padding and responsive behavior */
@media (max-width: 640px) {
	.flex-wrap {
		flex-wrap: wrap;
	}

	.gap-4 {
		gap: 1rem;
	}
}

@media (min-width: 641px) {
	.flex-wrap {
		flex-wrap: nowrap;
	}

	.gap-4 {
		gap: 1.5rem;
	}
}

/* Loading Spinner CSS */
@keyframes spin {
	0% {
	  transform: rotate(0deg);
	}
	100% {
	  transform: rotate(360deg);
	}
  }
  
  .spinner-border {
	display: inline-block;
	border-color: #cbd5e1;
	border-top-color: #3b82f6;
	animation: spin 1s linear infinite;
  }
  