/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Tailwind CSS that can be used inline */
.h-screen-adjusted-image-container {
    height: calc(95vh - 34px);
}

.h-screen-adjusted-map {
    height: calc(90vh - 65px);
}

/* Add the hue change filter for the red color marker */
.huechange {
    filter: hue-rotate(120deg);
  }

* {
    scroll-behavior: smooth;
    /* Smooth scrolling when navigating within the page (anchor links) */
}